
%div#content
  %div#infovis

%div#sidebar
  %a#back{ :href=>"#", :class=>"theme button white"} Go to Parent
  %a#refresh{ :href=>"#", :class=>"theme button white"} Refresh

:javascript
  var json = #{@treemap};
  $(document).ready(function () {
    init();
  });

