
%div#content
  %div#infovis

%div#sidebar
  %a#back{ :href=>"#", :class=>"theme button white"} Go to Parent
  %br
  %a#switch{ :href=>"#", :class=>"theme button white"} Switch active/ remaining
  %br
  %br
  %br
  %a#refresh{ :href=>"#", :class=>"theme button white"} Refresh
  %br

:javascript
  var active = #{@active_treemap};
  var remaining = #{@remaining_treemap};
  var cur = active;
  var nex = remaining;
  $(document).ready(function () {
    init();
  });

