
%div#content
  %div#infovis

%div#sidebar
  %p
    %button#back Go to Parent
  %p
    %button#refresh Refresh
  %br
  %p
    %button#active Active
  %p
    %button#remaining Remaining
  %p
    %button#completed Recently completed

:javascript
  var active = #{@active_treemap};
  var remaining = #{@remaining_treemap};
  var recently_completed = #{@recently_completed_treemap};
  $(document).ready(function () {
    init();
  });

