=javascript_include_tag "jit.js"
=javascript_include_tag "treemap.js"

%div#infovis

<a id="back" href="#" class="theme button white">Go to Parent</a>

:javascript
   var json = #{@treemap}
   init();


