
%div#content
  %div#infovis

%div#sidebar
  %p
    %button#back Go to Parent
  %p
    %button#refresh Refresh
  %br
  %p
    %button#active Active
  %p
    %button#remaining Remaining

:javascript
  var active = #{@active_treemap};
  var remaining = #{@remaining_treemap};
  var cur = active;
  var nex = remaining;
  $(document).ready(function () {
    init();
  });

