%div#top-level-folders
	- @top_level.each do |area, values|
		%p.time-spent-top-level
			- avg = values.inject{ |x, y| x + y } / values.count
			%span.sparkline_completed{ sparkNormalRangeMax: avg, sparkChartRangeMax: @max }= values.join( ',' ) 
			=area
%div
	%p
		%br
			- folder_sparks_tag @all_folders, @max
	
:javascript
	function show_detail(node) {
		$("span.time-spent-detail").css('display', 'none');
		$( "span."+ $(node).text().trim().replace(/[^a-zA-Z0-9]/g, '') ).css('display', 'block');
		$.sparkline_display_visible();
	}
	$("p.time-spent-top-level")
		.hover(
			function() {
				$(this).css('color', 'red');
				show_detail(this);
			},
			function() {
				$(this).css('color', 'black');
			}
		).click(function() {show_detail(this)})
