%div#top-level-folders
	- @top_level.each do |area, values|
		%p.time-spent-top-level
			- avg = values.inject{ |x, y| x + y } / values.count
			%span.sparkline_completed{ sparkNormalRangeMax: avg, sparkChartRangeMax: @max }= values.join( ',' ) 
			=area
%div
	%p
		- folder_sparks_tag @all_folders, @max
	
:javascript
	$("p.time-spent-top-level").hover(
		function() {
			$(this).css('color', 'red');
			$( "span."+ $(this).text().trim().replace(/[^a-zA-Z0-9]/g, '') ).css('display', 'block');
			$.sparkline_display_visible();
		},
		function() {
			$(this).css('color', 'black');
			$("span." + $(this).text().trim().replace(/[^a-zA-Z0-9]/g, '') ).css('display', 'none')
		}
	);
	$("span.time-spent-detail").hover(
		function() {
			$(this).css('display', 'block');
			$.sparkline_display_visible();
		},
		function() {
			$(this).css('display', 'none')
		}
	);
