<p>
<script>
/*    $(document).ready(function(){ 
		setInterval(function(){
      		//$('#notice_area').load('/messages');
			$.get('/messages', function(res){ $(res).insertBefore( $('#notice_area') )  } ) ;
    		}, 3000);
});*/
</script>
	<%- #todo: this whole thing is ugly 
	flash.each do |msg_type, msgs | 
		msgs.each do | msg | %>
			<%= render( 'shared/notice',  :msg => msg ) =%>
	<%- end end -%>
	<div id="notice_area"></div>	
</p>
